@media only screen and (min-width: 64rem){

    .navbar {overflow: hidden; background-color: #dfc907;} 
    
    .navbar a {
        float: left;
        font-size: 16px;
        padding: .8rem 2%; 
        text-align: center;
        color: #000;
        text-decoration: none;
        border: none;
    }

    .subnav {float: left; overflow: hidden;}

    .subnav .subnavbtn {
        font-size: 16px;
        border: none;
        outline: none;
        padding: .8rem 2%;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

.navbar a.active  {background-color: rgb(219, 210, 210); color: #000;}

.navbar a:hover, .subnav:hover .subnavbtn {background-color: white;}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #dfc907;
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: black;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: rgb(219, 210, 210);
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}

    nav, footer, main {max-width: 75rem; margin: auto;}

    nav button div.goaway { display: block;}
    
    div.templeGallery {
        flex-wrap: nowrap;
    }

    div.templeGallery figure {
        flex-basis: 29%;
    }

    .temples section {
        flex-basis: 29%;}

    .norm:hover { box-shadow: 0 0 50px #333;}

    div.servAmen section:nth-child(1) {width: 50%; float: left;}
    div.servAmen section:nth-child(2) {width: 50%; float: left;}
    div.servAmen {clear: both;}
     
    }