* { -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; box-sizing: 
    border-box; }
    

    
    html {-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;}
    
    body {
        font-family: 'Avenir', sans-serif;
        font-size: 16px;
    }
    header {
        background-color: #000;
        padding: .5rem 2%;
        display: grid;
        grid-template-columns: 100px auto;
    }
    
    header img.logo {float: left; margin-right: 2%; width: auto;}
    
    header h1 {margin: 0; color: #dfc907; font-size: 1.5rem; margin-top: 1rem;}
    
    header h2 {margin: 0;  color: white; font-weight: normal; font-size: 1.2rem;}
    
    h1, h2, h3 {
        font-family: "Big Caslon", serif;
    }
    
    nav button {
        margin: .2rem 2%;
        background-color: transparent;
        border: none;
        font-size: 1.6rem;
        color: #fff;
    }
    
div button {
    margin: .2rem 2%;
    background-color: #0790df;
    font-size: 1.6rem;
}
div button:hover {box-shadow: 0 0 50px #333;}

    nav {background-color: #dfc907;} 
    
    nav ul {margin: 0; padding: 0; list-style-type: none;}
    
    nav ul li a {
        display: block;
        padding: .8rem 2%; 
        color: #000;
        text-decoration: none;
        border-top: 1px solid rgba(0,0,0,0.3);
    }

nav ul li.active a{background-color: white; color: #000;}

nav ul li a:hover {background-color: rgb(219, 210, 210);}

nav ul.goaway {display: none;}

.herodiv {
    margin: 0;
    position: relative; 
    width: 100%;
}

img.heroimg {margin: 0; width: 100%;}

img.map { margin: 0; width: 100%;}

.conditions {
        position: absolute;
        top: 35px;
        left: 35px;
        padding: .5rem;
        border: 1px solid #000;
        background-color: rgb(178, 207, 241);
        box-shadow: 0 0 30px rgb(224, 142, 65);
    }  

.hide {
        display: none;
    }

main {
        padding: 1rem 2%;
        display: block;
        margin: 0;
        clear: both;
    }

main h1 { 
        padding: 1rem 2%; 
        margin: 0; 
        color: #0790df;
}
        
main h2 { 
    color: #dfc907; 
        padding: 0; 
        clear: both;}

section#weatherforecast {
    display: flex;
    flex-wrap: wrap;
}

section#weatherforecast div{
    flex-basis: 46%;
    margin: 1rem 2%;
    border: 1px solid #999;
    text-align: center;
}

section#weatherforecast div span {
    background-color: #f0aa29;
    display: block;
    padding: .5rem 0;
}
/*----------- FORM --------------*/
form fieldset {
    margin: 2rem 0;
    border: 1px solid rgb(224, 142, 65);
    padding: .5rem 2%;
}
form legend {
    color: rgb(224, 142, 65);
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .8rem;
}
form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}
form label.bottom {
    display: block;
    padding: .75rem 0;
    color: black;
    font-size: .8rem;
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
    font-size: .8rem;
}
form input.submitBtn {
    border: none;
    background-color: rgba(39, 110, 218);
    color: white;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required {
    border-left: rgba(39, 110, 218) solid 6px;
}
form label.top input:required:valid {
    border-left: rgba(39, 110, 218) solid 6px;
}

div.templeGallery {
    display: flex;
    flex-wrap: wrap;
}

div.templeGallery figure {
    flex-basis: 86%;
    margin: 1rem 2%;
}

div.templeGallery figure img {
    width: 100%;
}

div.templeGallery figcaption {text-align: center;}

h4 {color: rgba(39, 110, 218);}

.temples {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #dfc907;
    clear: both;
}

.temples section {
    flex-basis: 100%;
    padding: 1rem 2%;
    border: solid rgba(39, 110, 218) 2px;
    margin: 1rem 2%;
    background-color: white;
    clear: both;
}

.temples section img {
    width: 100%;
}

figure { margin: 0; width: 100%;}
        
figure.slc img {width: 100%; clear:both; }
    
div.row section {padding: 0 2%; }
    
div.row {clear: both;}
      
  /* section styles */
  
  section article {
    width: 33%;
    float: left;
  }
  
  section p {
    margin: 5px 0;
  }
  
  section ul {
    margin-top: 0;
  }
  
    
footer {
        text-align: center;
        color: white;
        padding: 1rem 2%;
        background-color: #000;
        clear: both;
    }
 footer button {
        margin: .2rem 2%;
        background-color: transparent;
        border: none;
        color: white;
 }   
    
.clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    