* { -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; box-sizing: 
    border-box; }
    
    html {-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;}
    
    body {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;
    }
    header {
        background-color: rgb(224, 142, 65);
        padding: .5rem 2%;
    }
    
    header img {float: left; margin-right: 10px;}
    
    header h1 {margin: 0; font-size: 1.3rem;}
    
    header h2 {margin: 0; font-weight: normal; font-size: 1rem;}
    
    h1, h2, h3 {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    nav {background-color: #f0aa29;}
    nav ul {margin: 0; padding: 0;}
    nav li {list-style-type: none; text-align: center;}
    nav li.active {background-color: rgb(39, 110, 218);}
    nav a {
        display: inline-block;
        padding: .8rem; 
        color: #eee;
        text-align: center;
        text-decoration: none;
    }
    nav a:hover {background-color: rgb(118, 161, 224);}
    
    main {
        padding: 1rem 2%;
        display: block;
        margin: 0;
    }
    main h1 {text-align: center; 
        padding: 1rem 2%; 
        margin: 0; 
        color: rgb(39, 110, 218);}

    .herodiv { 
        margin: 10px auto; 
        position: relative;
        width: 960px;
        height: 300px;
    }
    .cloudimg {
        margin: 0;
        width: 100%;
        clear: both;
    }
    .conditions {
        position: absolute;
        top: 50px;
        left: 50px;
        padding: .5rem;
        box-shadow: 0 0 30px #777;
    }

    main h2 { color: rgb(118, 161, 224); padding: 0;}

    figure { margin: 0; width: 100%;}
    figure img {width: 100%;}
    iframe {width: 100%; height: 300px;}
    div.row section {padding: 0 2%; background-color: #f0aa29;}
    div.row {clear: both;}
    
    figcaption {
        text-align: center;
        font-size: .8rem;
    }
    
    footer {
        text-align: center;
        padding: 1rem 2%;
        background-color: rgb(224, 142, 65);
        clear: both;
    }
    
    
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }